*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none !important;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}
.CMS{
   padding-left: 5px;
    padding-top: 7px;
}
.pl-5{
    padding-left: 10px;
}

/* body........................ */
.body{
    width: 100%;
    display: flex;
    height: 94vh;
}
.body-left{
    width: 20%;
    background-color: #F8F8F8;
    height: 100%;
}
.body-search{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    border: 0.1px solid rgb(206, 202, 197);
}
.nav-search{
    width: 90%;
    display: flex;
    line-height: 0;
}
.input-search{
    width: 90%;
}
.icon-search{
    display: inline-block;
    border: 0.1px solid rgb(206, 202, 197);
    width: 20%;
    color: black;
    padding-top: 5px;
}

.a-fontcontent{
    display: flex;
    align-items: end;
    width: 100%;
}
.fontsize-1{
    font-size: 1rem;
    padding-bottom: 3px;
}
.font-content{
    margin-left: 5px;
}
                /* ---------------------------------- */
.body-right{
    width: 90%;
    background-color: white;
}

.left-content{
    width: 100%;
    height: 40px;
    border: 0.1px solid rgb(206, 202, 197);
    display: flex;
    align-items: center;
}

.body-right-text{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 2rem;
    font-weight: bold;
}
.right-line{
    border-bottom:0.1px solid rgb(206, 202, 197);
    margin-left: 30px;
    width: 85%;
}
.body-right-form{
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid rgb(218, 213, 213);
    width: 85%;
    border-radius: 5px;
}
.form-content{
    background-color: #F5F5F5;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom:0.1px solid rgb(206, 202, 197);
}
.form-body{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.input-width{
    width: 65% !important;
}
.form-btn{
    border: 0.1px solid rgb(218, 213, 213) !important;
}