*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none !important;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}
.CMS{
   padding-left: 10px;
    padding-top: 7px;
}
.pl-5{
    padding-left: 10px;
}
.dropdown-btn{
    background-color: #F8F8F8 !important;
}

/* body...................'''''''''''''''''''''''''''''''''''''''''''''''..... */
.body{
    width: 100%;
    display: flex;
    height: 94vh;
}
.body-left{
    width: 20%;
    background-color: #F8F8F8;
    height: 100%;
}
.body-search{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    border: 0.1px solid rgb(206, 202, 197);
}
.nav-search{
    width: 90%;
    display: flex;

}
.input-search{
    width: 90%;
    height: 35px;
}
.icon-search{
    display: inline-block;
    border: 0.1px solid rgb(206, 202, 197);
    width: 20%;
    color: black;
    padding-top: 5px;
}
.body-right{
    width: 90%;
    background-color: white;
}

.left-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 0.1px solid rgb(206, 202, 197);
}
.a-fontcontent{
    display: flex;
    align-items: end;
    width: 100%;
}
.fontsize-1{
    font-size: 1rem;
    padding-bottom: 3px;
}
.font-content{
    margin-left: 5px;
}
.a-selected{
    background-color: #EEEEEE;
}
/* ........................................ */
.body-right-text{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 2rem;
    font-weight: bold;
}
.body-right-form{
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid rgb(218, 213, 213);
    width: 95%;
    border-radius: 5px;
}
.form-content{
    background-color: #F5F5F5;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom:0.1px solid rgb(206, 202, 197);
}
.right-line{
    border-bottom:0.1px solid rgb(206, 202, 197);
    margin-left: 30px;
    width: 95%;
}
.form-body{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.table-content{
    padding: 10px;
    padding-bottom: 20px;
}
 table,th,td{
    border: 1px solid rgb(218, 213, 213) !important;
 }

 table{
    width: 100%;
 }
th{
    height: 40px;
}
.col1{
    width: 30px;
    text-align: center;
}
.col2{
    width: 20%;
    padding-left: 5px;
}
.col3{
    width: 60%;
    padding-left: 5px;
}
.col4{
    width: 15%;
    padding-left: 5px;
}
.row-body{
    height: 40px;
}
tbody tr:nth-child(2n+1){
    background-color: #F9F9F9;
}

/*********************************************/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #ccc;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}